name: "BuildAndTest"
on:
  workflow_call:
    inputs:
      repo:
        required: false
        type: string
        default: ""
      branch:
        required: false
        default: ""
        type: string
      use_prbranch_as_build_branch:
        required: false
        default: false
        type: boolean
    secrets:
      JENKINS_USER:
        required: true
      JENKINS_API_TOKEN:
        required: true
      JENKINS_SERVER_URL:
        required: true
jobs:
  trigger-jenkins-job:
    runs-on: ubuntu-latest
    steps:
      - name: Get PR details
        uses: xt0rted/pull-request-comment-branch@v1
        id: comment-branch

      - name: Set commit status as pending
        uses: myrotvorets/set-commit-status-action@master
        with:
          sha: ${{ steps.comment-branch.outputs.head_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          status: pending

      - name: Github API Request
        id: request
        uses: octokit/request-action@v2.x
        with:
          route: ${{ github.event.issue.pull_request.url }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Display Github Data
        run: "echo latest release: '${{ steps.request.outputs.data }}'"

      - name: Trigger Jenkins Job
        run: |
          JENKINS_JOB_URL="${{ secrets.JENKINS_SERVER_URL }}/job/Port-Build/buildWithParameters?token=jenkinstest"

          repo="${{ inputs.repo }}"
          if [ -z "${repo}" ]; then
            repo="${{ fromJson(steps.request.outputs.data).head.repo.clone_url }}"
          fi
          branch="${{ inputs.branch }}"
          if [ -z "${branch}" ]; then
            branch="${{ fromJson(steps.request.outputs.data).head.ref }}"
          fi
          BUILD_BRANCH_OPT=""
          if ${{ inputs.use_prbranch_as_build_branch }}; then
            BUILD_BRANCH_OPT="-F BUILD_BRANCH=${branch}"
            branch="main"
          fi

          RESPONSE=$(curl -k -X POST -s -i -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}" "${JENKINS_JOB_URL}" -F PORT_GITHUB_REPO="${repo}" -F PORT_DESCRIPTION="Github CI Test of ${repo}" -F PORT_BRANCH="${branch}" ${BUILD_BRANCH_OPT})

          # Extract the build URL from the response headers
          BUILD_URL=$(echo "$RESPONSE" | grep -oP "Location: \K(.*)" | tr -d '\r')

          # Extract the build number from the BUILD_URL
          BUILD_NUMBER=$(basename "$BUILD_URL" | tr -d '/')

          # Poll the Jenkins queue API to check if the job has started
          while [ "$(curl -k -s "${{ secrets.JENKINS_SERVER_URL }}/queue/item/${BUILD_NUMBER}/api/json" -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}" | jq -r '.executable.number')" == "null" ]; do
              echo "Job is waiting in the queue..."
              sleep 10
          done

          # Retrieve the build URL once the job has started
          BUILD_NUMBER=$(curl -k -s "${{ secrets.JENKINS_SERVER_URL }}/queue/item/${BUILD_NUMBER}/api/json" -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}" | jq -r '.executable.number')

          set +e
          echo "Build in progress..."
          # Poll the Jenkins API to check if the build has completed
          while [ "$(curl -k -s "${{ secrets.JENKINS_SERVER_URL }}/job/Port-Build/${BUILD_NUMBER}/api/json" -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}" | jq -r '.building')" == "true" ]; do
              echo -n "."
              sleep 1
          done
          set -e
          echo "Console output: "

          # Retrieve the console output of the Jenkins job
          CONSOLE_OUTPUT=$(curl -k -s "${{ secrets.JENKINS_SERVER_URL }}/job/Port-Build/${BUILD_NUMBER}/consoleText" -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}")
          echo "$CONSOLE_OUTPUT"

          if [ "$(curl -k -s "${{ secrets.JENKINS_SERVER_URL }}/job/Port-Build/${BUILD_NUMBER}/api/json" -u "${{ secrets.JENKINS_USER }}:${{ secrets.JENKINS_API_TOKEN }}" | jq -r '.result')" != "SUCCESS" ]; then
            echo "Job failed..."
            exit 1
          fi
          exit 0

      - name: Set final commit status
        uses: myrotvorets/set-commit-status-action@master
        if: always()
        with:
          sha: ${{ steps.comment-branch.outputs.head_sha }}
          token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}
